<header class="main-header">
  <a class="title" routerLink="/overview" style="text-decoration: none; cursor: pointer">{{ 'title' | transloco }}</a>

  <div class="header-right">
    <div class="lang-switcher">
      <button [class.active]="activeLang() === 'pl'" (click)="setLang('pl')">PL</button>
      <span class="divider">|</span>
      <button [class.active]="activeLang() === 'en'" (click)="setLang('en')">EN</button>
    </div>

    @if ($initiateLoginHub() && loginHubService.loggedIn()) {
      <button class="logout-btn" (click)="loginHubService.logout()">
        {{ 'logout' | transloco }}
      </button>
    }
  </div>
</header>
@if ($initiateLoginHub()) {
  <div class="main-wrap">
    <router-outlet></router-outlet>
  </div>
} @else {
  <app-loading-spinner></app-loading-spinner>
}
