services:
  webgame:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "0.0.0.0:5000:8080"
    volumes:
      - ./logs:/app/logs
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - AllowedOrigins__0=https://letties.pl

  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
      - "8081:80"
      - "5341:5341"
    volumes:
      - ./seq_data:/data