@import '@fontsource/nunito/400.css';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  color: #eee;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.bot-difficulty {
  font-size: 0.5rem;
}
