.lobby-container {
  display: flex;
  height: calc(100vh - 80px);
  background: #121212;
  color: #eee;
}

.lobby-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  overflow-y: auto;
}

.lobby-sidebar {
  width: 320px;
  background: #181818;
  border-left: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
}
