:host {
  height: 100%;
}

.lobby-container {
  display: grid;

  height: 100%;
  grid-template-columns: 1fr min-content;
  transition: grid-template-columns 0.3s ease;
  background: #121212;
  color: #eee;
}

.lobby-main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  overflow-y: auto;
  min-width: 0;
  padding-bottom: 2rem;

  @media (max-width: 500px) {
    padding: 0 0.5rem 2rem 0.5rem;
  }
}

.lobby-sidebar {
  background: #181818;
  border-left: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  overflow: visible;

  min-width: 0;
}
